.navbar-toggler{
    color: white !important;
    background-color:white !important;
}

.nav-item:hover{
    display:inline-block;
    width:100%;
    transform:scaley(0.9);
}
.welcome-page{
    background:url("./images/hero4.png");
    background-size:cover;
    object-fit: cover;
    width:100vw;
    height:230px;
    display:flex;
    flex-direction:column;
    justify-content: center;
    padding-left:50px;
    margin-top:2px;
    margin-bottom:10px;
}

.content h1{
    font-size:15px;
    margin:0px;
    padding:0px;
}
.content .h1{
    color:rgb(42, 178, 81);
}
.content .p1{
    font-size:10px;
    font-weight:bold;
    color:rgb(77, 74, 74);
    margin:0px;
}
.content p{
    font-size:10px;
    color:gray;
}

.button{
    text-align:center;
    padding:5px 30px;
    background-image:url("./images/button.png");
    background-size:cover;
    width:200px;
}
.content a{ 
    font-size:10px;
    color:rgb(42,178,90);
    font-weight:bold;

}

.feacture{
    padding:20px;
    border:2px double rgb(237, 247, 251);
    align-items:center;
    flex-wrap:wrap;
    width:100%;
}
.feacture h1{
    font-size:10px;
    padding:5px 0;
}
.feacture img{
    width:100px;
    height:100px;
}
@media (min-width:729px){
    .welcome-page{
        height:800px;
    }
    .content .p1{
        font-size:20px;
    }
    .content h1{
        font-size:30px;
    }
    .content p{
        font-size:15px;
    }
}
.feacture-product-section{
    margin-top:40px;
    padding:10px;
}
.feacture-heading{
    font-size:20px;
    text-align:center;
}
.feacture-paragraph{
    font-size:15px;
    color:rgb(83, 81, 81);
    text-align:center;
}
.products-section{
    display:flex;
    width:100vw;
    overflow: scroll;
    
}
.product-container{
    display:flex;
    flex-direction:column;
    border:2px solid rgb(174, 173, 173);
    border-radius:20px;
    width:220px;
}
.product-discription{
    margin:10px;
}
.product-discription p{
    margin:0px;
}
.product-discription h4{
    font-size:20px;
    padding:0;
    margin-bottom:0;
}
.rating{
    display:flex;
}
.star{
    align-self:center;
    height:20px;
    width:20px; 
}
.cart{
    display:flex;
    justify-content:center;
    align-items:center;
    background-image:radial-gradient(white,aqua);
    height:40px;
    width:40px;
    border-radius:50%;
}
.product{
    margin-top:10px;
    height:200px;
    width:200px;
    background-size:cover;
    border-radius:20px;
    align-self: center;
}
.price{
    font-weight:bold;
    color:rgb(10, 175, 120);
}
